
<div style="background-color:#999999;width:100%;font-size: 30px;margin-bottom:1em;padding:1em">BrosisDesign 有新的询盘了</div>

<div style="background-color: #999999;width: 100%;margin-bottom:1em;padding:1em">
	<div style="border-bottom: 1px solid black;width: 100%">客户名称</div>
	<div><%=h @inquiry.name %></div>
</div>
<div style="background-color: #999999;width: 100%;margin-bottom:1em;padding:1em">
	<div style="border-bottom: 1px solid black;width: 100%">Email  地址</div>
	<div><%=h @inquiry.email %></div>
</div>
<div style="background-color: #999999;width: 100%;margin-bottom:1em;padding:1em">
	<div style="border-bottom: 1px solid black;width: 100%">电话</div>
	<div><%=h @inquiry.phone %></div>
</div>
<div style="background-color: #999999;width: 100%;margin-bottom:1em;padding:1em">
	<div style="border-bottom: 1px solid black;width: 100%">国家</div>
	<div><%=h @inquiry.country %></div>
</div>
<div style="background-color: #999999;width: 100%;margin-bottom:1em;padding:1em">
	<div style="border-bottom: 1px solid black;width: 100%">公司</div>
	<div><%=h @inquiry.company %></div>
</div>
<div style="background-color: #999999;width: 100%;margin-bottom:1em;padding:1em">
	<div style="border-bottom: 1px solid black;width: 100%">专长</div>
	<div><%=h @inquiry.profession %></div>
</div>
<div style="background-color: #999999;width: 100%;margin-bottom:1em;padding:1em">
	<div style="border-bottom: 1px solid black;width: 100%">询盘内容</div>
	<div><%=h @inquiry.desc %></div>
</div>