<h1>We have new inquiry</h1>

<p>cust name:<%=h @inquiry.name %></p>
<hr style="border: 1px dashed #666" />

<p>email:<%=h @inquiry.email %></p>
<hr style="border: 1px dashed #666" />

<p>phone:<%=h @inquiry.phone %></p>
<hr style="border: 1px dashed #666" />

<p>country:<%=h @inquiry.country %></p>
<hr style="border: 1px dashed #666" />

<p>company:<%=h @inquiry.company %></p>
<hr style="border: 1px dashed #666" />

<p>profession:<%=h @inquiry.profession %></p>
<hr style="border: 1px dashed #666" />

<p>Message:</p>
<p><%=h @inquiry.desc %></p>