<!DOCTYPE html>
<html>
  <head>
	
  </head>
  <body>

    <!--main page center pic show -->
    <div id="gallery" class="ad-gallery">

      <div class="ad-image-wrapper">
      </div>

      <div class="ad-controls">
      </div>

      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
            <% @advpics.each do |adv| %>
              <li>
                <a href="<%= image_path(adv.photo.url(:big))%>">
                  <%= image_tag(adv.photo.url(:small),:longdesc => "http://brosisdesign.com/categories/#{adv.serv_type}",:alt => h(adv.desc) ) %>
                </a>
              </li>
            <% end %>

          </ul>
        </div>
      </div>

    </div>

    <div id="center-down">
        <div class="down-left">
          <h2>Focus on architectural renderings</h2>
          <p>&nbsp;&nbsp;The Brosis Design is a China based company dedicated to top architectural rendering service with real cheap rendering price.
            We create outstanding solutions and top service for architects, individuals, real estate developers, interior
            designers, and builders. In the past few years, the company has finished more than 100 beautiful architectural
            renderings. Our products have been highly acknowledged by the market to be very powerful marketing and sales tools.
          </p>
        </div>
        <div class="down-middle">
          <p>
          <h2>Professional & Creativity</h2>
            &nbsp;&nbsp;We have a vibrant and professional team of architects and 3D artist professionals with cutting edge expertise and
            creativity in the field of architectural rendering. With the use of the latest modeling and rendering techniques,
            BrosisDesign converts your project to tailored, life-like 3D architectural renderings of the best visualizations
            with right combination between arts and design. Our works are highly customer oriented. Your needs and expectations
            are our supreme priorities for every single project, big or small.
          </p>
        </div>
        <div class="down-right">
          <p>
            <h2>Communication & Collaboration</h2>
            &nbsp;&nbsp;Our architectural rendering company gives special attention to communication from the very first contact you have with
            us, during the whole rendering process and once the project is ready. We are looking forward to your inquiries and
            further contacts.
          </p>
        </div>

    </div>
    
    <div id="center-low">
      <div class="center-low-cat">
          <div class="clc-title"><h2>BrosisDesign will help you with</h2></div>
          <div class="clc-content">
            <%= link_to "/categories/1" do %>
                <%= image_tag("cat-ext.jpg",:size => "340x140",:alt => "Exterior Rendering") %>
            <% end %>
            <div>
              <%= link_to "/categories/1" do %><h5>3D Exterior Rendering</h5><% end %>
                Show your project’s most fascinating exterior details,an essential starting point in visualizing any project.
            </div>

            <%= link_to "/categories/2" do %>
                <%= image_tag("cat-int.jpg",:size => "340x140",:alt => "Interior Rendering") %>
            <% end %>
            <div>
              <%= link_to "/categories/2" do %><h5>3D Interior Rendering</h5><% end %>
              Show every single detail of your interior spaces,virtually view your spaces long before you''re ever constructed.
            </div>

            <%= link_to "/categories/3" do %>
                <%= image_tag("cat-bid.jpg",:size => "340x140",:alt => "Birds Eye views") %>
            <% end %>
            <div>
              <%= link_to "/categories/3" do %><h5>3D Birds Eye view</h5><% end %>
              Show the relations between your project and its landscape.
            </div>

          </div>
      </div>
      <div class="center-low-inq">
          <div class="cli-title"><h2>Free quote fast and easy</h2></div>
          <div class="cli-content">
            <%= render "layouts/fast_inquiry" %>
          </div>
      </div>
    </div>

  </body>
</html>
