<ul class="member-list">

  <li>
    <a href="#" title="Christopher">
      <%=  image_tag("christopher.su.jpg", :alt => "Christopher") %>
    </a>
  </li>

  <li>
    <a href="#" title="Steve">
      <%=  image_tag("steve.jpg", :alt => "Steve") %>
    </a>
  </li>

  <li>
    <a href="#" title="David">
      <%=  image_tag("David.jpg", :alt => "David") %>
    </a>
  </li>

  <li>
    <a href="#" title="Shirley">
      <%=  image_tag("Shirley.jpg", :alt => "Shirley") %>
    </a>
  </li>

  <li>
    <a href="#" title="Richard">
      <%=  image_tag("Richard.jpg", :alt => "Richard") %>
    </a>
  </li>

  <li>
    <a href="#" title="Christine">
      <%=  image_tag("Christine.jpg", :alt => "Christine") %>
    </a>
  </li>

  <li>
    <a href="#" title="Yale">
      <%=  image_tag("Yale.jpg", :alt => "Yale") %>
    </a>
  </li>

  <li>
    <a href="#" title="Mandy">
      <%=  image_tag("Mandy.jpg", :alt => "Mandy") %>
    </a>
  </li>

  <li>
    <a href="#" title="Robin">
      <%=  image_tag("Robin.jpg", :alt => "Robin") %>
    </a>
  </li>

</ul>
