<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'gl_page', :media => 'screen' %>
  </head>
  <body>
  <div>
    <%= link_to "返回",pages_admin_path %>
  </div>
  <hr/>
  <table>
    <tr class="inq_tab_title">
      <td>客户名称</td>
      <td>Email</td>
      <td>电话</td>
      <td>询盘时间</td>
    </tr>
    <% @inquiries.each do |i| %>
        <tr class="inq_tab_content">
          <td><%= link_to i.name,i %></td>
          <td><%= i.email %></td>
          <td><%= i.phone %></td>
          <td><%= i.created_at %></td>
          <td><%= link_to "Delete",i,:confirm => "Are you sure you want to delete this record?",:method => :delete %></td>
        </tr>
    <% end %>
  </table>
  </body>
</html>