<p>Cust Name:&nbsp;&nbsp;<%= @inquiry.name %></p>
<p>Email:&nbsp;&nbsp;<%= @inquiry.email %></p>
<p>Phone:&nbsp;&nbsp;<%= @inquiry.phone %></p>
<p>Country:&nbsp;&nbsp;<%= @inquiry.country %></p>
<p>Company:&nbsp;&nbsp;<%= @inquiry.company %></p>
<p>Profession:&nbsp;&nbsp;<%= @inquiry.profession %></p>
<p>Message:&nbsp;&nbsp;<%= @inquiry.desc %></p>
<p>Inquiry Time:&nbsp;&nbsp;<%= @inquiry.created_at %></p>
