<div id="header">
  <div id="header-content">
  <div class="header_logo">
    BrosisDesign
  </div>

  <ul class="navi">
    <%= link_to root_path do %>
        <li>Home</li>
    <% end %>
    <li>Services
      <ul>
        <% cat_for_nav.each do |ca| %>
          <%= link_to(ca) do %>
            <li><%=h ca.name %></li>
          <% end %>
        <% end %>
      </ul>
    </li>

    <%= link_to team_index_path do %>
            <li>Team</li>
    <% end %>

    <%= link_to faq_index_path do %>
            <li>FAQ</li>
    <% end %>

    <%= link_to inquiry_index_path do %>
        <li class="inNow" style="color: #ffffff;">Free Quote</li>
    <% end %>

  </ul>
  </div>
</div>