<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
    <%= render 'layouts/stylesheet' %>
    <%= render 'layouts/javascript' %>
    <meta name="keywords" content="Architectural rendering,Architectural renderings,Exterior rendering,Interior rendering,Site Plan,Birds Eye Views">
    </meta>
    <meta name="description" content="Brosis Design dedicated to top architectural rendering service.
        We create outstanding solutions and top service for architects, individuals, real estate developers, interior
        designers, and builders.">
    </meta>
	<meta name="google-site-verification" content="2BjNKAufGYObFSTdQiSK7ZjVR9BhSqQlUCCB85siJAA" />
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div class="container">
      <!--page header-->
      <%= render 'layouts/header'%>

      <!--main content-->
      <div id="content">
        <div id="center">
          <div id="center-inner">
            <div id="center-inner-content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      <!--page footer-->
      <%= render 'layouts/footer'%>

    </div>

  </body>
</html>
